<div class="container">
    <form [formGroup]="ResetPasswordForm" (ngSubmit)="resetSubmit(ResetPasswordForm)" class="p-5" >
       
        <div class="col-md-6 col-sm-11" class="inputs-parent">
            <label  for="password">New Password</label>
            <input class="password" #passValue formControlName="password" class=" form-control mb-2" type="password"  id="password">
            <div *ngIf="ResetPasswordForm.get('password')?.errors && ResetPasswordForm.get('password')?.touched">
                <p class=" text-danger ms-4" *ngIf="ResetPasswordForm.get('password')?.errors?.['required']">This field is required</p>
                <ul *ngIf="ResetPasswordForm.get('password')?.errors?.['pattern']" class=" text-danger ms-4">
                    <li> At least one upper case English letter</li>
                    <li>At least one lower case English letter</li>
                    <li> At least one special character or space</li>
                    <li> At least 8 digits</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 col-sm-11" class="inputs-parent">
            <label  for="confirmPassword">Confirm Password</label>
            <input class="confirm-password" #passConfirmValue formControlName="confirmPassword" class=" form-control mb-2" type="password"  id="confirmPassword">
            <div *ngIf="ResetPasswordForm.get('confirmPassword')?.errors && ResetPasswordForm.get('confirmPassword')?.touched ">
                <p class=" text-danger ms-4" *ngIf="ResetPasswordForm.get('confirmPassword')?.errors?.['required']">This field is required</p>
            </div>
            <div *ngIf="ResetPasswordForm.get('confirmPassword')?.touched ">
                <p class=" text-danger ms-4" *ngIf="passValue.value != passConfirmValue.value">Passwords do NOT match</p>
            </div>
        </div>
   
        <div *ngIf="sniper == 'disable' " class="d-flex justify-content-center">
            <div class="spinner-border text-success"  role="status">
              <span  class="visually-hidden">Loading...</span>
            </div>
          </div>
        <div class="text-center">
            <button  [disabled]="ResetPasswordForm.invalid" type="submit" (click)="sniperDisable()" class="btn btn-info text-white w-25  mt-3">Confirm</button>
        </div>
        <div class="text-center">
            <a></a>
        </div>
    </form>
</div>
